module __MODULE_PATH__

go 1.26.3

require (
	github.com/go-kratos/kratos/v3 v3.0.0
	github.com/google/wire v0.7.0
	github.com/liujitcn/kratos-admin/backend/core __CORE_MODULE_VERSION__
	github.com/liujitcn/kratos-kit/api v0.0.23
	github.com/liujitcn/kratos-kit/bootstrap v0.0.18
	github.com/liujitcn/kratos-kit/database/gorm v0.0.37
	github.com/liujitcn/kratos-kit/database/gorm/migration v0.0.10
)
