//go:build wireinject
// +build wireinject

package project

import (
	"github.com/go-kratos/kratos/v3"
	"github.com/google/wire"
	"github.com/liujitcn/kratos-kit/bootstrap"
	databaseGorm "github.com/liujitcn/kratos-kit/database/gorm"
	gormmigration "github.com/liujitcn/kratos-kit/database/gorm/migration"

	"__MODULE_PATH__/projectdoc"
)

// initModule 生成当前项目模块内部依赖装配代码。
func initModule(
	*bootstrap.Context,
	AdditionalModules,
	projectdoc.ConfiguredDocuments,
	[]databaseGorm.ClientOption,
	gormmigration.AdditionalMigrations,
) (*Runtime, func(), error) {
	panic(wire.Build(moduleProviderSet))
}

// initApp 生成当前项目独立应用内部依赖装配代码。
func initApp(
	*bootstrap.Context,
	AdditionalModules,
	projectdoc.ConfiguredDocuments,
	[]databaseGorm.ClientOption,
	gormmigration.AdditionalMigrations,
) (*kratos.App, func(), error) {
	panic(wire.Build(appProviderSet))
}
