go 1.26.0

use (
	.
	./ai/eino
	./ai/langchaingo
	./ai/model
	./api
	./auth
	./auth/authn
	./auth/authn/engine/jwt
	./auth/authn/middleware
	./auth/authz
	./auth/authz/engine/casbin
	./auth/authz/middleware
	./bootstrap
	./broker
	./cache
	./captcha
	./cmd/internal/utils
	./cmd/protoc-gen-go-agent-tool
	./cmd/protoc-gen-go-mcp-tool
	./cmd/protoc-gen-go-service
	./config
	./config/apollo
	./config/consul
	./config/etcd
	./config/kubernetes
	./config/nacos
	./config/polaris
	./database/ent
	./database/ent/driver
	./database/ent/driver/mysql
	./database/ent/driver/postgres
	./database/ent/driver/sqlite
	./database/gorm
	./database/gorm/driver
	./database/gorm/driver/bigquery
	./database/gorm/driver/mysql
	./database/gorm/driver/oracle
	./database/gorm/driver/postgres
	./database/gorm/driver/sqlite
	./database/gorm/driver/sqlserver
	./locker
	./logger
	./logger/aliyun
	./logger/fluent
	./logger/logrus
	./logger/tencent
	./logger/zap
	./logger/zerolog
	./oauth
	./oss
	./pprof
	./queue
	./queue/redisqueue
	./registry
	./registry/consul
	./registry/etcd
	./registry/eureka
	./registry/kubernetes
	./registry/nacos
	./registry/polaris
	./registry/servicecomb
	./registry/zookeeper
	./rpc
	./swagger-ui
	./tracer
	./tracing
	./transport
	./transport/cron
	./transport/hptimer
	./transport/keepalive
	./transport/mcp
	./transport/sse
	./utils
	./workflow
	./workflow/argo
	./workflow/conductor
	./workflow/goworkflows
	./workflow/temporal
)
