go 1.27.0

replace github.com/liujitcn/kratos-kit/redact v0.0.1 => ./redact

replace github.com/liujitcn/kratos-kit/key v0.0.1 => ./key

use (
	.
	./ai/eino
	./ai/langchaingo
	./ai/model
	./api
	./auth
	./auth/authn
	./auth/authn/engine/apikey
	./auth/authn/engine/basicauth
	./auth/authn/engine/hmac
	./auth/authn/engine/jwt
	./auth/authn/engine/mtls
	./auth/authn/engine/oauth2
	./auth/authn/engine/oidc
	./auth/authn/engine/session
	./auth/authn/middleware
	./auth/authz
	./auth/authz/engine/casbin
	./auth/authz/engine/cerbos
	./auth/authz/engine/opa
	./auth/authz/engine/zanzibar
	./auth/authz/middleware
	./bootstrap
	./broker
	./broker/nats
	./cache
	./captcha
	./cmd/internal/utils
	./cmd/kratos-admin
	./cmd/normalize-go-imports
	./cmd/protoc-gen-go-agent-tool
	./cmd/protoc-gen-go-mcp-tool
	./cmd/protoc-gen-go-redact
	./config
	./config/apollo
	./config/consul
	./config/etcd
	./config/fs
	./config/http
	./config/kubernetes
	./config/nacos
	./config/oss
	./config/polaris
	./config/redis
	./config/vault
	./config/zookeeper
	./database/ent
	./database/ent/driver
	./database/ent/driver/mysql
	./database/ent/driver/postgres
	./database/ent/driver/sqlite
	./database/gorm
	./database/gorm/driver
	./database/gorm/driver/bigquery
	./database/gorm/driver/mysql
	./database/gorm/driver/oracle
	./database/gorm/driver/postgres
	./database/gorm/driver/sqlite
	./database/gorm/driver/sqlserver
	./database/gorm/migration
	./encoding/avro
	./encoding/bson
	./encoding/cbor
	./encoding/flatbuffers
	./encoding/gob
	./encoding/thrift
	./encoding/toml
	./health
	./key
	./locker
	./logger
	./logger/aliyun
	./logger/fluent
	./logger/logrus
	./logger/tencent
	./logger/zap
	./logger/zerolog
	./metrics
	./metrics/datadog
	./metrics/otel
	./metrics/prometheus
	./oauth
	./oss
	./oss/s3
	./pprof
	./queue
	./queue/redisqueue
	./ratelimit
	./ratelimit/sentinel
	./ratelimit/tokenbucket
	./redact
	./registry
	./registry/consul
	./registry/etcd
	./registry/eureka
	./registry/kubernetes
	./registry/nacos
	./registry/polaris
	./registry/servicecomb
	./registry/zookeeper
	./retry
	./server/grpc
	./server/http
	./server/mcp
	./server/sse
	./swagger-ui
	./tracer
	./tracing
	./translator
	./transport
	./transport/cron
	./transport/hptimer
	./transport/keepalive
	./transport/mcp
	./transport/queue
	./transport/sse
	./utils
	./workflow
	./workflow/argo
	./workflow/conductor
	./workflow/goworkflows
	./workflow/temporal
)
