module __MODULE_PATH__

go 1.27.0

require (
	github.com/go-kratos/kratos/v3 v3.0.0
	github.com/google/wire v0.7.0
	github.com/liujitcn/kratos-core v0.0.20
	github.com/liujitcn/kratos-kit/api v0.0.33
	github.com/liujitcn/kratos-kit/bootstrap v0.0.23
	github.com/liujitcn/kratos-kit/cache v0.0.20
	github.com/liujitcn/kratos-kit/database/gorm v0.0.40
	github.com/liujitcn/kratos-kit/database/gorm/driver/sqlite v0.0.16
	github.com/liujitcn/kratos-kit/logger/zap v0.0.17
	github.com/liujitcn/kratos-kit/oss v0.0.17
	github.com/liujitcn/kratos-kit/pprof v0.0.14
	github.com/liujitcn/kratos-kit/queue v0.0.27
	github.com/liujitcn/kratos-kit/translator v0.0.5
)
