//go:build wireinject
// +build wireinject

package module

import "github.com/google/wire"

// BuildModules 通过内部 Wire 装配当前项目的协议模块。
func BuildModules() (ProjectModules, func(), error) {
	panic(wire.Build(ProviderSet))
}
