// Command server 启动当前后端项目。
package main

import (
	"context"

	backend "__MODULE_PATH__"
	consts "__MODULE_PATH__/internal/const"

	"github.com/go-kratos/kratos/v3"
	bootstrapConfigv1 "github.com/liujitcn/kratos-kit/api/gen/go/config/v1"
	"github.com/liujitcn/kratos-kit/bootstrap"

	// 注册默认数据库驱动和日志实现。
	_ "github.com/liujitcn/kratos-kit/database/gorm/driver/mysql"
	_ "github.com/liujitcn/kratos-kit/logger/zap"
)

var (
	// Project 表示当前服务所属项目标识。
	Project = consts.PROJECT_KEY
	// AppID 表示当前服务应用标识。
	AppID = consts.PROJECT_KEY
	// Name 表示当前服务展示名称。
	Name    = consts.PROJECT_NAME
	version = "1.0.0"
)

// main 初始化应用信息并启动后端服务。
func main() {
	ctx := bootstrap.NewContext(
		context.Background(),
		&bootstrapConfigv1.AppInfo{
			Project: Project,
			AppId:   AppID,
			Name:    Name,
			Version: version,
		},
	)
	var err error
	err = bootstrap.RunApp(ctx, initApp)
	if err != nil {
		panic(err)
	}
}

// initApp 使用当前项目根包的装配结果创建独立应用。
func initApp(ctx *bootstrap.Context) (*kratos.App, func(), error) {
	return backend.NewApp(ctx)
}
