package biz

import (
[[[range $i, $module := .Modules]]] business[[[$i]]] "[[[$.GoModule]]]/internal/biz/[[[$module]]]"
[[[end]]] "github.com/google/wire"
)

// ProviderSet 汇总项目所有业务模块的 biz 层依赖。
var ProviderSet = wire.NewSet([[[range $i, $module := .Modules]]]business[[[$i]]].ProviderSet,[[[end]]])
