package admin

import (
	"__MODULE_PATH__/internal/service/__FRONTEND_MODULE__/admin/v1"
	"github.com/google/wire"
)

// ProviderSet 汇总当前业务的 admin 端版本依赖。
var ProviderSet = wire.NewSet(v1.ProviderSet)
