package migration

import (
	"embed"

	gormmigration "github.com/liujitcn/kratos-kit/database/gorm/migration"
)

// ModuleName 表示当前项目迁移模块名称。
const ModuleName gormmigration.ModuleName = "__PROJECT_NAME__"

// Contributor 返回当前项目的数据库迁移贡献者。
func Contributor() gormmigration.Contributor {
	return contributor{}
}

type contributor struct{}

// Name 返回当前项目迁移模块注册名称。
func (contributor) Name() gormmigration.ModuleName {
	return ModuleName
}

// Migrations 返回当前项目的版本化迁移资源。
func (contributor) Migrations() []gormmigration.Migration {
	return []gormmigration.Migration{
		{
			FS:   migrationFS,
			Path: "assets",
		},
	}
}

//go:embed assets/*
var migrationFS embed.FS
